.overlock-regular {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overlock-bold {
  font-family: "Overlock", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.overlock-black {
  font-family: "Overlock", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.overlock-regular-italic {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.overlock-bold-italic {
  font-family: "Overlock", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.overlock-black-italic {
  font-family: "Overlock", sans-serif;
  font-weight: 900;
  font-style: italic;
}

